{% extends 'blogs/base.html' %}

{% block page_header %}
<div class="p-3 mb-4 bg-dark text-white border rounded-3">
    <div class="container-fluid py-4">
        <h1 class="display-3">Start your own personal blog.</h1>
        <p class="lead">Blog is problem 19-1 of Python Crash Course (3rd Edition) by Eric Matthes.<br>
            It is continued in chapter 20, where more functionality and styling is added.</p>
        <a class="btn btn-primary btn-lg mt-1" href="{% url 'accounts:register' %}">Register &raquo;</a>
    </div>
</div>
{% endblock page_header %}